In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

from fastai.vision import *
from fastai.metrics import error_rate
import os 

import config as cfg
from utils import utils

Config.py using existing local data directory data/resnet50/results

In [29]:
results = utils.load_json(os.path.join(cfg.output_path, 'rn50-stage2-v1_2019_12_22.json'))

In [58]:
def results_to_df(results):

    df = pd.DataFrame.from_dict(results['results'])
    df.index.name = 'metric'
    df['experiment'] = results['meta']['experiment']
    df['model'] = results['meta']['model']
    df['date'] = datetime.datetime.strptime(results['meta']['date'], '%Y_%m_%d').date()
    df.reset_index(inplace=True)
    
    return (df)

In [59]:
a = results_to_df(results)

In [60]:
a

,metric,train,validation,test,experiment,model,date
0,losses_mean,0.344665,0.185371,NaN,upsampled,rn50-stage2-v1,2019-12-22
1,losses_sum,254644.359375,6398.993164,NaN,upsampled,rn50-stage2-v1,2019-12-22
2,accuracy_score_@0.05,0.790340,0.906952,NaN,upsampled,rn50-stage2-v1,2019-12-22
3,accuracy_score_#CAA_@0.05,0.963130,0.992121,NaN,upsampled,rn50-stage2-v1,2019-12-22
4,accuracy_score_#cored_@0.05,0.949692,0.972422,NaN,upsampled,rn50-stage2-v1,2019-12-22
...,...,...,...,...,...,...,...
282,f1_score_@0.95,0.327464,0.134500,NaN,upsampled,rn50-stage2-v1,2019-12-22
283,f1_score_#CAA_@0.95,0.748452,0.985400,NaN,upsampled,rn50-stage2-v1,2019-12-22
284,f1_score_#cored_@0.95,0.663743,0.957822,NaN,upsampled,rn50-stage2-v1,2019-12-22
285,f1_score_#diffuse_@0.95,0.738755,0.160718,NaN,upsampled,rn50-stage2-v1,2019-12-22
286,f1_score_#negative_@0.95,0.935291,0.956547,NaN,upsampled,rn50-stage2-v1,2019-12-22

In [70]:
b = a.copy()
b['model'] = 'new'
b['validation'] = b['validation'] * .9
b['train'] = b['train'] * 1.2
b['test'] = b['validation'] * 1.5

In [71]:
c = pd.concat([a,b])

In [72]:
c

,metric,train,validation,test,experiment,model,date
0,losses_mean,0.344665,0.185371,NaN,upsampled,rn50-stage2-v1,2019-12-22
1,losses_sum,254644.359375,6398.993164,NaN,upsampled,rn50-stage2-v1,2019-12-22
2,accuracy_score_@0.05,0.790340,0.906952,NaN,upsampled,rn50-stage2-v1,2019-12-22
3,accuracy_score_#CAA_@0.05,0.963130,0.992121,NaN,upsampled,rn50-stage2-v1,2019-12-22
4,accuracy_score_#cored_@0.05,0.949692,0.972422,NaN,upsampled,rn50-stage2-v1,2019-12-22
...,...,...,...,...,...,...,...
282,f1_score_@0.95,0.392956,0.121050,0.181576,upsampled,new,2019-12-22
283,f1_score_#CAA_@0.95,0.898142,0.886860,1.330290,upsampled,new,2019-12-22
284,f1_score_#cored_@0.95,0.796492,0.862039,1.293059,upsampled,new,2019-12-22
285,f1_score_#diffuse_@0.95,0.886506,0.144647,0.216970,upsampled,new,2019-12-22
286,f1_score_#negative_@0.95,1.122349,0.860892,1.291338,upsampled,new,2019-12-22

In [74]:
c.loc[c.metric == 'losses_mean'].sort_values(['test', 'validation'])

,metric,train,validation,test,experiment,model,date
0,losses_mean,0.413599,0.166834,0.25025,upsampled,new,2019-12-22
0,losses_mean,0.344665,0.185371,NaN,upsampled,rn50-stage2-v1,2019-12-22